<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czy.jni">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/timg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".Menu"></activity>
        <activity
            android:name=".Video"/>
<!--            android:parentActivityName=".MainActivity" -->

        <activity
            android:name=".FolderList"/>
<!--            android:parentActivityName=".MainActivity" -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".MediaProvider"
            android:authorities="media.scan"
            android:exported="true" />

<!--        <receiver android:name="Menu$MyBroadcastReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MEDIA_MOUNTED" />-->
<!--                <data android:scheme="file" />-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />-->
<!--                <data android:scheme="file" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        <receiver android:name="MainActivity$MyBroadcastReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MEDIA_MOUNTED" />-->
<!--                <data android:scheme="file" />-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />-->
<!--                <data android:scheme="file" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>

</manifest>